In [2]:
import pandas as pd

In [3]:
census = pd.read_csv('Salary_data.csv')

In [4]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [7]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else: 
        return 1

In [8]:
census['income_bracket'] = census['income_bracket'].apply(label_fix)

In [10]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
x_data = census.drop("income_bracket",axis=1)

In [14]:
y_labels = census["income_bracket"]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_labels, test_size=0.33, random_state=42)

In [17]:
X_train.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
27585,51,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States
18010,46,?,HS-grad,9,Married-spouse-absent,?,Not-in-family,Asian-Pac-Islander,Male,0,0,40,Philippines
22472,25,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,Black,Female,0,0,55,United-States
4585,27,Private,Assoc-acdm,12,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States
11191,47,Local-gov,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,45,United-States

In [18]:
y_train.head()

27585    1
18010    0
22472    0
4585     0
11191    1
Name: income_bracket, dtype: int64

In [19]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [20]:
import tensorflow as tf

In [21]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender",["Female","Male"])

In [22]:
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [23]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

In [25]:
feat_cols = [gender, occupation, marital_status,relationship,education,workclass,native_country,age,education_num,capital_gain,
            capital_loss,hours_per_week]

In [27]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train,batch_size=100, num_epochs=None, shuffle=True)

In [29]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\DELL\AppData\Local\Temp\tmp95kmxe4u
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\DELL\\AppData\\Local\\Temp\\tmp95kmxe4u', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000025818B50550>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [30]:
model.train(input_fn=input_func, steps=10000)

WARNING:tensorflow:From C:\Users\DELL\Miniconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\DELL\Miniconda3\envs\tensorflow\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From C:\Users\DELL\Miniconda3\envs\tensorflow\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\DELL\Miniconda3\envs\tensorflow\lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py:2703: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
WARNING:tensorflow:From C:\Users\DELL\Miniconda3\envs\tensorflow\lib\site-packages\tensorflow\python\ops\lookup_ops.py:1137: to_int64 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\DELL\Miniconda3\envs\tensorflow\lib\site-packages\tensorflow\python\training\monitored_session.py:809: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\DELL\AppData\Local\Temp\tmp95kmxe4u\model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 95.8751
INFO:tensorflow:loss = 319.1636, step = 101 (1.053 sec)
INFO:tensorflow:global_step/sec: 171.86
INFO:tensorflow:loss = 229.99475, step = 201 (0.574 sec)
INFO:tensorflow:global_step/sec: 171.64
INFO:tensorflow:loss = 175.93161, step = 301 (0.581 sec)
INFO:tensorflow:global_step/sec: 160.454
INFO:tensorflow:loss = 428.00757, step = 401 (0.627 sec)
INFO:tensorflow:global_step/sec: 177.035
INFO:tensorflow:loss = 116.001396, step = 501 (0.565 sec)
INFO:tensorflow:global_step/sec: 168.83
INFO:tensorflow:loss = 126.88874, step = 601 (0.584 sec)
INFO:tensorflow:global_step/sec: 176.991
INFO:tensorflow:loss = 113.87542, step = 701 (0.570 sec)
INFO:tensorflow:global_step/sec: 172.76
INFO:tensorflow:loss = 34.962883, step = 801 (0.581 sec)
INFO:tensorflow:global_step/sec: 174.271
INFO:tensorflow:loss = 44.282196, step = 901 (0.571 sec)
INFO:tensorflow:global_step/sec: 175.028
INFO:tensorflow:loss = 418.94766, step = 1001 (0.572 sec)
INFO:tensorflow:global_step/sec: 166.16
INFO:tensorflow:loss = 105.396515, step = 1101 (0.601 sec)
INFO:tensorflow:global_step/sec: 177.701
INFO:tensorflow:loss = 53.711685, step = 1201 (0.567 sec)
INFO:tensorflow:global_step/sec: 168.193
INFO:tensorflow:loss = 71.93312, step = 1301 (0.592 sec)
INFO:tensorflow:global_step/sec: 174.292
INFO:tensorflow:loss = 46.91791, step = 1401 (0.574 sec)
INFO:tensorflow:global_step/sec: 173.673
INFO:tensorflow:loss = 81.76437, step = 1501 (0.576 sec)
INFO:tensorflow:global_step/sec: 135.295
INFO:tensorflow:loss = 38.14211, step = 1601 (0.743 sec)
INFO:tensorflow:global_step/sec: 109.236
INFO:tensorflow:loss = 36.108845, step = 1701 (0.917 sec)
INFO:tensorflow:global_step/sec: 90.1836
INFO:tensorflow:loss = 29.899656, step = 1801 (1.112 sec)
INFO:tensorflow:global_step/sec: 94.3974
INFO:tensorflow:loss = 161.07312, step = 1901 (1.056 sec)
INFO:tensorflow:global_step/sec: 110.022
INFO:tensorflow:loss = 475.3465, step = 2001 (0.903 sec)
INFO:tensorflow:global_step/sec: 161.687
INFO:tensorflow:loss = 35.07792, step = 2101 (0.617 sec)
INFO:tensorflow:global_step/sec: 159.829
INFO:tensorflow:loss = 41.294834, step = 2201 (0.631 sec)
INFO:tensorflow:global_step/sec: 159.732
INFO:tensorflow:loss = 38.334938, step = 2301 (0.619 sec)
INFO:tensorflow:global_step/sec: 160.574
INFO:tensorflow:loss = 311.71548, step = 2401 (0.627 sec)
INFO:tensorflow:global_step/sec: 160.333
INFO:tensorflow:loss = 110.21141, step = 2501 (0.625 sec)
INFO:tensorflow:global_step/sec: 162.285
INFO:tensorflow:loss = 57.713257, step = 2601 (0.614 sec)
INFO:tensorflow:global_step/sec: 158.406
INFO:tensorflow:loss = 107.9112, step = 2701 (0.632 sec)
INFO:tensorflow:global_step/sec: 157.945
INFO:tensorflow:loss = 99.88759, step = 2801 (0.630 sec)
INFO:tensorflow:global_step/sec: 158.499
INFO:tensorflow:loss = 53.328243, step = 2901 (0.637 sec)
INFO:tensorflow:global_step/sec: 154.341
INFO:tensorflow:loss = 44.96291, step = 3001 (0.643 sec)
INFO:tensorflow:global_step/sec: 155.789
INFO:tensorflow:loss = 33.833027, step = 3101 (0.645 sec)
INFO:tensorflow:global_step/sec: 157.806
INFO:tensorflow:loss = 41.67551, step = 3201 (0.630 sec)
INFO:tensorflow:global_step/sec: 161.243
INFO:tensorflow:loss = 183.21375, step = 3301 (0.622 sec)
INFO:tensorflow:global_step/sec: 158.762
INFO:tensorflow:loss = 31.807055, step = 3401 (0.630 sec)
INFO:tensorflow:global_step/sec: 158.043
INFO:tensorflow:loss = 47.141205, step = 3501 (0.636 sec)
INFO:tensorflow:global_step/sec: 159.125
INFO:tensorflow:loss = 25.499092, step = 3601 (0.628 sec)
INFO:tensorflow:global_step/sec: 158.675
INFO:tensorflow:loss = 64.2642, step = 3701 (0.628 sec)
INFO:tensorflow:global_step/sec: 161.798
INFO:tensorflow:loss = 32.909267, step = 3801 (0.615 sec)
INFO:tensorflow:global_step/sec: 158.843
INFO:tensorflow:loss = 55.64987, step = 3901 (0.627 sec)
INFO:tensorflow:global_step/sec: 154.83
INFO:tensorflow:loss = 70.54125, step = 4001 (0.654 sec)
INFO:tensorflow:global_step/sec: 159.744
INFO:tensorflow:loss = 56.089226, step = 4101 (0.624 sec)
INFO:tensorflow:global_step/sec: 158.876
INFO:tensorflow:loss = 27.869007, step = 4201 (0.624 sec)
INFO:tensorflow:global_step/sec: 122.08
INFO:tensorflow:loss = 41.78159, step = 4301 (0.828 sec)
INFO:tensorflow:global_step/sec: 104.805
INFO:tensorflow:loss = 26.201752, step = 4401 (0.955 sec)
INFO:tensorflow:global_step/sec: 138.667
INFO:tensorflow:loss = 139.2614, step = 4501 (0.717 sec)
INFO:tensorflow:global_step/sec: 136.234
INFO:tensorflow:loss = 80.67407, step = 4601 (0.735 sec)
INFO:tensorflow:global_step/sec: 150.79
INFO:tensorflow:loss = 150.77715, step = 4701 (0.665 sec)
INFO:tensorflow:global_step/sec: 144.625
INFO:tensorflow:loss = 54.965954, step = 4801 (0.703 sec)
INFO:tensorflow:global_step/sec: 96.7788
INFO:tensorflow:loss = 43.43484, step = 4901 (1.028 sec)
INFO:tensorflow:global_step/sec: 117.195
INFO:tensorflow:loss = 29.04562, step = 5001 (0.838 sec)
INFO:tensorflow:global_step/sec: 150.986
INFO:tensorflow:loss = 429.53543, step = 5101 (0.667 sec)
INFO:tensorflow:global_step/sec: 124.575
INFO:tensorflow:loss = 38.042755, step = 5201 (0.804 sec)
INFO:tensorflow:global_step/sec: 160.561
INFO:tensorflow:loss = 63.81573, step = 5301 (0.624 sec)
INFO:tensorflow:global_step/sec: 165.78
INFO:tensorflow:loss = 53.666622, step = 5401 (0.604 sec)
INFO:tensorflow:global_step/sec: 108.849
INFO:tensorflow:loss = 37.965515, step = 5501 (0.921 sec)
INFO:tensorflow:global_step/sec: 97.8911
INFO:tensorflow:loss = 33.079514, step = 5601 (1.019 sec)
INFO:tensorflow:global_step/sec: 157.978
INFO:tensorflow:loss = 72.45306, step = 5701 (0.631 sec)
INFO:tensorflow:global_step/sec: 162.64
INFO:tensorflow:loss = 39.950645, step = 5801 (0.614 sec)
INFO:tensorflow:global_step/sec: 146.624
INFO:tensorflow:loss = 33.00343, step = 5901 (0.682 sec)
INFO:tensorflow:global_step/sec: 166.658

INFO:tensorflow:loss = 34.79779, step = 6001 (0.604 sec)
INFO:tensorflow:global_step/sec: 163.823
INFO:tensorflow:loss = 28.21157, step = 6101 (0.613 sec)
INFO:tensorflow:global_step/sec: 142.393
INFO:tensorflow:loss = 26.745163, step = 6201 (0.697 sec)
INFO:tensorflow:global_step/sec: 147.668
INFO:tensorflow:loss = 44.89107, step = 6301 (0.692 sec)
INFO:tensorflow:global_step/sec: 155.29
INFO:tensorflow:loss = 96.27379, step = 6401 (0.626 sec)
INFO:tensorflow:global_step/sec: 159.798
INFO:tensorflow:loss = 30.170925, step = 6501 (0.637 sec)
INFO:tensorflow:global_step/sec: 130.577
INFO:tensorflow:loss = 52.751213, step = 6601 (0.759 sec)
INFO:tensorflow:global_step/sec: 148.348
INFO:tensorflow:loss = 175.03592, step = 6701 (0.674 sec)
INFO:tensorflow:global_step/sec: 163.783
INFO:tensorflow:loss = 33.78681, step = 6801 (0.609 sec)
INFO:tensorflow:global_step/sec: 153.845
INFO:tensorflow:loss = 59.56183, step = 6901 (0.660 sec)
INFO:tensorflow:global_step/sec: 151.387
INFO:tensorflow:loss = 36.981987, step = 7001 (0.651 sec)
INFO:tensorflow:global_step/sec: 157.556
INFO:tensorflow:loss = 50.02125, step = 7101 (0.641 sec)
INFO:tensorflow:global_step/sec: 115.735
INFO:tensorflow:loss = 132.56432, step = 7201 (0.858 sec)
INFO:tensorflow:global_step/sec: 141.971
INFO:tensorflow:loss = 75.775345, step = 7301 (0.710 sec)
INFO:tensorflow:global_step/sec: 96.136
INFO:tensorflow:loss = 30.522198, step = 7401 (1.034 sec)
INFO:tensorflow:global_step/sec: 150.347
INFO:tensorflow:loss = 31.930334, step = 7501 (0.697 sec)
INFO:tensorflow:global_step/sec: 139.196
INFO:tensorflow:loss = 30.56254, step = 7601 (0.685 sec)
INFO:tensorflow:global_step/sec: 153.179
INFO:tensorflow:loss = 121.1874, step = 7701 (0.658 sec)
INFO:tensorflow:global_step/sec: 99.7833
INFO:tensorflow:loss = 44.23687, step = 7801 (1.006 sec)
INFO:tensorflow:global_step/sec: 127.86
INFO:tensorflow:loss = 35.955997, step = 7901 (0.775 sec)
INFO:tensorflow:global_step/sec: 172.256
INFO:tensorflow:loss = 38.123005, step = 8001 (0.578 sec)
INFO:tensorflow:global_step/sec: 169.137
INFO:tensorflow:loss = 38.01811, step = 8101 (0.594 sec)
INFO:tensorflow:global_step/sec: 171.705
INFO:tensorflow:loss = 37.687447, step = 8201 (0.579 sec)
INFO:tensorflow:global_step/sec: 160.865
INFO:tensorflow:loss = 59.643898, step = 8301 (0.626 sec)
INFO:tensorflow:global_step/sec: 136.474
INFO:tensorflow:loss = 31.050003, step = 8401 (0.733 sec)
INFO:tensorflow:global_step/sec: 137.94
INFO:tensorflow:loss = 38.61508, step = 8501 (0.733 sec)
INFO:tensorflow:global_step/sec: 96.395
INFO:tensorflow:loss = 120.57352, step = 8601 (1.036 sec)
INFO:tensorflow:global_step/sec: 88.686
INFO:tensorflow:loss = 44.30824, step = 8701 (1.119 sec)
INFO:tensorflow:global_step/sec: 84.8671
INFO:tensorflow:loss = 30.979576, step = 8801 (1.187 sec)
INFO:tensorflow:global_step/sec: 115.179
INFO:tensorflow:loss = 45.972298, step = 8901 (0.858 sec)
INFO:tensorflow:global_step/sec: 153.984
INFO:tensorflow:loss = 83.673035, step = 9001 (0.652 sec)
INFO:tensorflow:global_step/sec: 144.775
INFO:tensorflow:loss = 470.93985, step = 9101 (0.691 sec)
INFO:tensorflow:global_step/sec: 172.436
INFO:tensorflow:loss = 30.380732, step = 9201 (0.578 sec)
INFO:tensorflow:global_step/sec: 172.573
INFO:tensorflow:loss = 34.87597, step = 9301 (0.580 sec)
INFO:tensorflow:global_step/sec: 163.314
INFO:tensorflow:loss = 44.175144, step = 9401 (0.613 sec)
INFO:tensorflow:global_step/sec: 161.575
INFO:tensorflow:loss = 53.066456, step = 9501 (0.619 sec)
INFO:tensorflow:global_step/sec: 174.52
INFO:tensorflow:loss = 17.764526, step = 9601 (0.573 sec)
INFO:tensorflow:global_step/sec: 170.504
INFO:tensorflow:loss = 83.917076, step = 9701 (0.585 sec)
INFO:tensorflow:global_step/sec: 172.224
INFO:tensorflow:loss = 69.723656, step = 9801 (0.582 sec)
INFO:tensorflow:global_step/sec: 167.194
INFO:tensorflow:loss = 58.522614, step = 9901 (0.594 sec)
INFO:tensorflow:Saving checkpoints for 10000 into C:\Users\DELL\AppData\Local\Temp\tmp95kmxe4u\model.ckpt.
INFO:tensorflow:Loss for final step: 57.33364.

In [31]:
pred_fun = tf.estimator.inputs.pandas_input_fn(x=X_test, batch_size=len(X_test), shuffle= False)

In [32]:
prediction = list(model.predict(input_fn=pred_fun))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
WARNING:tensorflow:From C:\Users\DELL\Miniconda3\envs\tensorflow\lib\site-packages\tensorflow\python\training\saver.py:1266: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to check for files with this prefix.
INFO:tensorflow:Restoring parameters from C:\Users\DELL\AppData\Local\Temp\tmp95kmxe4u\model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [34]:
prediction[0]

{'logits': array([-4.218417], dtype=float32),
 'logistic': array([0.01450834], dtype=float32),
 'probabilities': array([0.9854917 , 0.01450834], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object)}

In [35]:
final_preds = []
for pred in prediction:
    final_preds.append(pred['class_ids'][0])

In [37]:
final_preds[:10]

[0, 0, 1, 0, 0, 1, 1, 0, 0, 0]

In [38]:
from sklearn.metrics import classification_report

In [40]:
print(classification_report(y_test, final_preds))

              precision    recall  f1-score   support

           0       0.85      0.96      0.90      8196
           1       0.77      0.48      0.59      2550

   micro avg       0.84      0.84      0.84     10746
   macro avg       0.81      0.72      0.75     10746
weighted avg       0.83      0.84      0.83     10746